---
layout: default
comments: true
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}

		<h1 id="related-posts">Related Posts:</h1>

	    {% assign max_related = 4 %}
        {% assign related_count = 0 %}
        
        <ul>
          {% for post in site.posts %}
            {% if post.url != page.url %}
              {% for category in post.categories %}
                {% if page.categories contains category %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% assign related_count = related_count | plus: 1 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if related_count == max_related %}{% break %}{% endif %}
          {% endfor %}
        </ul>

		{% if related_count == 0 %}<p>No related posts found.</p>{% endif %}

    <h1 id="comments">Comments:</h1>

    <script src="https://giscus.app/client.js"
        data-repo="nshenry03/nshenry03.github.io"
        data-repo-id="R_kgDOSZ9v0g"
        data-category="Announcements"
        data-category-id="DIC_kwDOSZ9v0s4C9p0B"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>

	</div>

</section>